:root {
  --_17-font-family: SourceHanSerifCn-Bold, sans-serif;
  --_15-font-family: SourceSans3-Regular, sans-serif;
}

@font-face {
  font-family: "SourceHanSerifCn-Bold";
  src: url("../fonts/SourceHanSerifCN-VF.otf.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/SourceHanSerifSC-VF.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "SourceSans3-Regular";
  src: url("../fonts/NotoSansSC-VariableFont_wght.ttf") format("truetype"); /* Safari, Android, iOS */
}

.main-footer {
  background-color: #ffffff;
  padding: 0px 61px;
}

.footer-container {
  border-top: 3px solid #b10200;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 341px;
}

.footer-title {
  border-bottom: 1px solid #b10200;
  color: #b10200;
  font-family: var(--_17-font-family);
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.85px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: var(--_15-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.footer-content a,
.footer-content2 a {
  color: #222;
}

.footer-content a:hover,
.footer-content2 a:hover {
  color: #b10200;
}

.footer-content2 {
  list-style: none;
  padding-left: 0px;
  font-family: var(--_15-font-family);
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.footer-logo {
  display: flex;
  align-self: center;
}

/* media query */

@media (max-width: 500px) {
  .footer-container {
    flex-direction: column; /* 切换为上下布局 */
    align-items: center;
    justify-content: center; /* 在主轴上居中 */
  }
}
