body {
  margin: 0px;
  overflow-x: hidden;
}

/* gallery cover */

.cover-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  margin-bottom: 66px;
}

.cover-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
}

.gallery-number {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-left: 56px;
  background-color: #b10200;
  width: 172px;
  height: 58px;
  text-align: center;
  z-index: 2;
  font-family: var(--_27-font-family);
  font-size: var(--_27-font-size);
  font-style: var(--_27-font-style);
  font-weight: var(--_27-font-weight);
  line-height: var(--_27-line-height);
  letter-spacing: var(--_27-letter-spacing);
}

.gallery-name {
  color: #222;
  margin: 0px;
  padding-left: 72px;
  font-family: var(--_38-font-family);
  font-size: var(--_38-font-size);
  font-style: var(--_38-font-style);
  font-weight: var(--_38-font-weight);
  line-height: var(--_38-line-height);
  letter-spacing: var(--_38-letter-spacing);
}

.gallery-intro {
  color: #222;
  padding-left: 142px;
  padding-right: 72px;
  font-family: var(--_15-font-family);
  font-size: var(--_15-font-size);
  font-style: var(--_15-font-style);
  font-weight: var(--_15-font-weight);
  line-height: var(--_15-line-height);
}

.text-background {
  background: rgba(255, 255, 255, 0.88);
  padding-top: 59px;
  padding-bottom: 90px;
  margin-top: -29px;
  z-index: 1;
}

/* canva */

.canva {
  display: flex;
  flex-direction: column;
}

.canva h2 {
  color: #b20000;
  font-family: var(--_27-font-family);
  font-size: var(--_27-font-size);
  font-style: var(--_27-font-style);
  font-weight: var(--_27-font-weight);
  line-height: var(--_27-line-height);
  letter-spacing: var(--_27-letter-spacing);
  border-bottom: 2px solid #b20000;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .canva h2 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 375px) {
  .canva h2 {
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 650px) {
  .cover-text {
    width: 100%;
  }
}

/* banner  

.banner {
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
  margin-top: 130px;
}

.img-wrapper {
  height: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  vertical-align: middle;
}

.banner-content {
  background: var(--red, #b20000);
  width: 360px;
  height: 56px;
  position: absolute;
}

.banner h1 {
  color: #fff;
  text-align: center;
  font-family: var(--_27-font-family);
  font-size: var(--_27-font-size);
  font-style: var(--_27-font-style);
  font-weight: var(--_27-font-weight);
  line-height: var(--_27-line-height);
  letter-spacing: var(--_27-letter-spacing);
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

*/
