* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-wrap: break-word;
}

.swiper-container {
  position: relative;
  background: #a09090;
}

.hide {
  display: none !important;
}

.swiper-wrapper {
  align-items: center;
}

.text-container {
  text-align: center;
  font-family: var(--_27-font-family);
  font-size: var(--_27-font-size);
  line-height: var(--_27-line-height);
  font-weight: var(--_27-font-weight);
  background-color: #a09090;
  padding-top: 10px;
}

.swiper {
  width: 100%;
}

.mySwiper {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  opacity: 0.25;
  transition: opacity 0.3s ease;
  /*transform: translateX(-50%);*/
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  /* max-width: 100%; */
  height: 500px;
  width: 600px;
}

.swiper-next-button,
.swiper-prev-button,
.swiper-prev-button3,
.swiper-next-button3 {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.swiper-next-button,
.swiper-next-button3 {
  right: 100px !important;
}

.swiper-prev-button,
.swiper-prev-button3 {
  left: 100px !important;
}

.material-icons {
  font-size: 68px !important;
}

.mySwiper2,
.mySwiper4 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  transform: scale(0.8);
}

.mySwiper2 .swiper-slide,
.mySwiper4 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  padding-top: 0px !important;
}

.mySwiper2 .swiper-slide-thumb-active,
.mySwiper4 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 img,
.mySwiper4 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;

  padding-right: 20px;
}

.swiper-next-button2,
.swiper-prev-button2,
.swiper-next-button4,
.swiper-prev-button4 {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.swiper-next-button2,
.swiper-next-button4 {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  right: 10px !important;
}

.swiper-prev-button2,
.swiper-prev-button4 {
  left: 10px !important;
  display: flex;
  align-items: center;
}

.thumb-fit {
  object-fit: fill !important;
}

.thumb-size {
  height: 200px !important;
  /* width: 270px !important; */
}
