/* <- inside element */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@media only screen and (min-width: 768px) {
body{
    background-color: #f2f2f2;
    font-family:'Noto Sans-serif',sans-serif;
    padding: 0;
    margin:0;
}
img{
  display: block;
}

/* header <- nav */
.header-container{
  margin:0;
  
}
.header{
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin:0;
    background-color:rgba(245, 239, 233,0);
    z-index: 100;
    top:0;
    left:0;
    padding:0 1rem 0 1rem;
    height: 3rem;
    color:white;
    width: 100%;
    transition: height 0.3s ease; 
    

}
.title{
  width: 20%;
  height: 3rem;

  font-size: 0.75rem;
  padding-top: 10px;
}
.title h1{
  font-family: "Noto Serif",serif;
  
  margin:0;
}

.backdrop-div{
  backdrop-filter: blur(10px); 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  z-index: -1;
}
.backdrop-div-sub{
  backdrop-filter: blur(100%); 
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.header img{
  max-height: 5vh; 
}

#nav{
  align-self:  center;
  padding-right: 2rem;
}

/* main <-menu, <-sec, <-container*/
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu{
    float:left;
    width:15%;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
}
.side_nav{
  padding: 10px;

      width: 100%;
      display: flex;
      justify-content:space-around;
       background-color: rgb(238, 233, 229,0);
       height:2.4rem;
       
       
      
}
.menu {
  height: 100%;
  width: 300px;
  position: fixed;
  left: 0;
  top: 48px;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  overflow-x: hidden;
  height: 100vh; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  transition: transform 0.5s ease;
  opacity: 0;

}

.side_nav a {
  text-decoration: none;
  color:white;
  font-weight: 600;
}

.return{
  font-size: 18px;
  padding:2px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.side_nav a:hover{
  color: #b4b4b4;
}
.return:hover {
  color: #b4b4b4;
}

/*menu <- allChap <- chap <-subchap*/
.allChap {
  display: flex;
  height: 1rem;
  
}
      .chap{
        font-size: 12px;
        line-height: 17px;
        height: 100px;
        display: inline;
        padding-left: 3rem;
        padding-right: 3rem;
        
      }
      .chap1{
        position: relative;
        margin: 0;
        top:-1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        
      }
      .chap1 a{
        margin:0;
        
        
      }
      .subChap{
        
        font-size: 15px;
        line-height: 15px;
        display: none;
        position: absolute;
        top: 68px; /* Position above the .chap element */
        left: -30px;
        width: 105%;
        flex-direction: column;
        align-items: center;
        
        padding: 15px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      .subChap a{
        font-weight: 500;
        color:rgb(239, 232, 232);
      }
      .subChap_visible{
        padding-left: 1.5rem;
        font-size: 15px;
        line-height: 30px;
        opacity: 1;

      }
      .about{
        padding-top: 0rem;
        padding-left: 10%;
        padding-right: 3%;
        display: none;
      }

.sec{
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 5rem;
  margin-left:1.5rem;
  margin-right: 1.5rem;
  margin-top: -1rem;
  display: none;

}

/* container <- .img_gallery <- intro*/

.container{
    float:right;
    margin-left: 303px;
    height:100%;
    position: fixed;
}
.intro{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url('/hp_img/entrance.jpg');
  background-size:cover;
  background-attachment: fixed;
  position:fixed;
}
.intro img{
  position: fixed;
  width: 50%;
  bottom:0;
  right:0;
}
#toGallery:hover{
  color:red;
}

/*img_gallery <-item(=figure)*/
.img_gallery_container{
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100vh; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  transition: transform 0.5s ease;

}
.img_gallery{
    margin:0;
    padding-left: 0.5rem;
    padding-top: 5rem;
    align-items: top;
    columns:15rem;
    gap:20px;
    background-color: #f2f2f2;;
    
    
}
.sub_gallery1{
  background-color: #c1acac;

}
.sub_gallery1 figure{
  background-color: #c1acac;
}
.sub_gallery2{
  background-color: #625e5e;

}
.sub_gallery2 figure{
  background-color: #625e5e;
}
.sub_gallery2 figcaption{
  color: #f5efe9;
}

.chap_visible{
  display: block;
  transform: translateZ(0); 
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.item{
  block-size: auto;
  margin-bottom: 15px;
  font-weight: bold;
  display: inline-block;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1s ease-in-out;
}

figure{  
    margin: 0;
    background-color: #e1dfdf; 
}

figure img {
  height:auto;
  width:100%;
  object-fit: contain;
}

figcaption{
  padding:0rem 0rem .2rem .5em;
  justify-self: start;
  font-size: 10px;
}

#toTop:hover{
  color:red;
}
    

  #modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 80px;
  }
  
  #modal img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
  }
  
  #modal #caption {
    text-align: center;
    color: #fff;
    margin-top: 3px;
    font-size: 15px;
    width: 70%;
    padding-left: 14%;
  }
  
  #modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
  }
  
  #modal .close:hover,
  #modal .close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
  }

  #prev,
  #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  #prev {
    left: 5rem;
  }
  
  #next {
    right: 5rem;
  }

   .fade-in {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
    transform: translateX(-40px); /* Initialize transform property */
  }
  
  .fade-in.show {
    opacity: 1;
    transform: translateX(0px); /* Apply transform when the element has the "show" class */
  }
  
}


/*

mobile

*/
@media only screen and (max-width: 768px) {

  body{
    background-color: #f2f2f2;
    font-family:'Noto Serif',serif;
    padding: 0;
    margin:0;
}
img{
  display: block;
}

/* header <- nav */
.header{
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black;
    border-bottom-style: solid;
    width: 100%;
    height: 5vh;
    background-color: #f5efe9;
    z-index: 100;
    top:0;
    left:0;
    padding:0 1rem 0 1rem;
    margin-right: 3rem;
    font-size: 1.5vh;
}
.header img{
  max-height: 5vh; 
}

nav{
  margin-right: 3rem;
  align-self:  center;
}

/* main <-menu, <-sec, <-container*/
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu{
    float:left;
    width:15%;
    border-color: black;
    border-style: solid;
}
.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 300;
  background-color: #f5efe9;
  overflow-x: hidden;
  padding-top: 3rem;
}

.menu a {
  padding: 10px 25px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.return{
  font-size: 30px;
  padding:0;
  font-weight: 600;
}

.menu a:hover{
  color: #e60808;
}
.return:hover {
  color: #e60808;
}

/*menu <- allChap <- chap <-subchap*/
      .chap{
        font-size: 15px;
        line-height: 20px;
      }
      .subChap{
        padding-left: 2rem;
        font-size: 15px;
        display: none;
        padding-top:-2rem;
      }

.sec{
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 5rem;
  margin-left:1rem;
  margin-right: 1rem;
  margin-top: -1rem;
  display: none;
}

/* container <- .img_gallery <- intro*/

.container{
    float:right;
    margin-left: 200px;



}
.intro{
  float: left;

  text-align: center;
  margin-left: 5rem;
  width: calc(100vw - 20vh);
  height: 100vh;
  background-image: url('/museum/hp_img/entrance.png');
  background-size:cover;
}
.intro img{
  position: fixed;
  width: 50%;
  bottom:0;
  right:0;
}

/*img_gallery <-item(=figure)*/
.img_gallery{
  margin-left: 1rem;
    margin-top: 5rem;
    display: gird;
    align-items: top;
    columns:15rem;
    gap:20px;
    
}
.img_gallery101{
  display: none;
}
.img_gallery102{
  display: none;
}
.item{
  block-size: auto;
  margin-bottom: 15px;
  font-weight: bold;
  display: inline-block;
}

figure{  
    margin: 0;
    background-color: #e1dfdf; 
}

figure img {
  height:auto;
  width:100%;
  object-fit: contain;
}

figcaption{
  padding:0rem 0rem .2rem .5em;
  justify-self: start;
  font-size: 10px;
}


  #modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
  }
  
  #modal img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
  }
  
  #modal #caption {
    text-align: center;
    color: #fff;
    margin-top: 0;
    font-size: 8px;
  }
  
  #modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
  }
  
  #modal .close:hover,
  #modal .close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
  }

  #prev,
  #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  #prev {
    left: 20rem;
  }
  
  #next {
    right: 20rem;
  }

}